.character {
    display: flex;
    flex-direction: column;
    align-items: end;
    background: #fff3e8;
    min-width: 320px;
    padding: 10px;
    border: solid 10px #4a1715;
    border-radius: 25px;
}

.characterContainer {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.image {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    border-radius: 20%;
}

.name {
    width: 220px;
    font-size: 26px;
    /*color: #4a1715;*/
    /*color: aliceblue;*/
    word-wrap: break-word;
}

.score {
    font-size: 26px;
    font-weight: bolder;
    color: aliceblue;
    margin: 0 10px;
    background: #4a1715;
    width: 50px;
    padding: 10px;
    border-radius: 20%;
}

.deleteContainer {
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}

.button {
    background:#fff;
    color:#4a1715;
    width: 50px;
    height: 50px;
    font-size: 35px;
    font-weight: bold;
}
.button:disabled {
    background: #fff;
    color: #441d1d;
    opacity: 0.5;
}