.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 320px;
}

.button {
    background:#4a1715;
    color:#fff;
    font-size: 20px;
    width: 200px;
    font-weight: bold;
    padding: 10px 20px;
}

.restart {
    text-align: start;
    display: flex;
    justify-content: end;
    margin-top: 25px;
}